@page "/projectassets"

@using BierFroh.Components
@using BierFroh.Model
@using BierFroh.Modules.DependencyGraph
@using Blazor.Diagrams
@using Blazor.Diagrams.Core
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Components

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
    <MudText Typo="Typo.h3" GutterBottom="true">Project Assets Graph</MudText>
    <InputFile id="fileInput" OnChange="OnInputFileChange" hidden accept=".json" />
    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.UploadFile" for="fileInput">assets.json laden</MudButton>

    <MudGrid>
        <MudItem xs="12">
            <MudPaper Class="pa-16 ma-2">
                <div style="width:70vw; height: 50vh">
                    <CascadingValue Value="diagram">
                        <DiagramCanvas></DiagramCanvas>
                    </CascadingValue>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private const long maxFileSize = 1024 * 1024 * 11; //11MB
    private Diagram? diagram = new Diagram();

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var selectedFile = e.GetMultipleFiles().Single();
        using var stream = selectedFile.OpenReadStream(maxFileSize);
        using var reader = new StreamReader(stream);
        var json = await reader.ReadToEndAsync();
        var projectAssets = ProjectAssetsDeserializer.Deserialize(json);
        var graph = new DependencyGraph().GetDirectedGraph(projectAssets);

        var rootNode = new Dependency(new Point(10, 10));
        rootNode.Title = projectAssets.ProjectName;
        rootNode.Version = projectAssets.Version;
        diagram.Nodes.Add(rootNode);
        var x = 10;
        foreach (var dep in graph.Vertices.Skip(1))
        {
            var dependencyNode = new Dependency(new Point(x += 30, 30));
            dependencyNode.Title = dep.Value.Name;
            dependencyNode.Version = dep.Value.Version;
            diagram.Nodes.Add(dependencyNode);
            var link = new LinkModel(rootNode, dependencyNode);
            link.TargetMarker = LinkMarker.Arrow;
            link.PathGenerator = PathGenerators.Straight;
            diagram.Links.Add(link);
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        diagram.RegisterModelComponent<Dependency, DependencyNode>();
    }
}
